<div class="modal-content" data-test-modal="re-authenticate">
    <header class="modal-header">
        <h1>Por favor, vuelve a autentificarte</h1>
    </header>
    <button type="button" class="close" title="Cerrar" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Cerrar</span></button>

    <div class="modal-body {{if this.authenticationError 'error'}}">
        <form id="login" class="login-form" method="post" novalidate="novalidate" {{on "submit" (perform this.reauthenticateTask)}}>
            <div class="password-wrap" {{validation-status errors=this.signup.errors property="password" hasValidated=this.signup.hasValidated}}>
                <input
                    type="password"
                    class="gh-input password"
                    placeholder="Contraseña"
                    name="password"
                    value={{this.signup.password}}
                    aria-label="Tu contraseña"
                    {{on "input" this.setPassword}}
                />
            </div>

            <div>
                <GhTaskButton
                    @type="submit"
                    @buttonText="Iniciar sesión"
                    @runningText="Autentificando"
                    @showSuccess={{false}}
                    @task={{this.reauthenticateTask}}
                    @class="gh-btn gh-btn-black gh-btn-icon"
                />
            </div>
        </form>

        {{#if this.authenticationError}}
            <p class="response">{{this.authenticationError}}</p>
        {{/if}}
    </div>
</div>