<div class="modal-content gh-all-sources">
    <header class="modal-header" data-test-modal="all-source-attributions">
        <h1>Todas las fuentes</h1>
    </header>
    <button class="close" type="button" title="Cerrar" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Cerrar</span></button>

    <div class="modal-body pa">
        <div>
            <div class="gh-dashboard-list-header">
                <div class="gh-dashboard-list-title">Fuentes</div>
                <div class="gh-dashboard-list-title">Suscripciones gratuitas</div>
                    {{#if this.membersUtils.paidMembersEnabled}}
                        <div class="gh-dashboard-list-title"><span class="hide-when-small">Conversiones a </span>Pago</div>
                    {{/if}}
            </div>
            <div class="gh-dashboard-list-body">
                <div class="gh-dashboard-attribution-list-scrollable">
                    {{#each @data.sources as |sourceData|}}
                        <div class="gh-dashboard-list-item {{if (eq sourceData.source "Unavailable") "gh-dashboard-list-item-deemphasized"}}">
                            <div class="gh-dashboard-list-item-sub gh-dashboard-list-item-sub-source">
                                <span class="gh-dashboard-list-text">{{sourceData.source}}</span>
                            </div>
                            <div class="gh-dashboard-list-item-sub">
                                <span class="gh-dashboard-metric-minivalue">
                                    {{#if sourceData.signups}}
                                        {{format-number sourceData.signups}}
                                    {{else}}
                                        &mdash;
                                    {{/if}}
                                </span>
                            </div>
                                {{#if this.membersUtils.paidMembersEnabled}}
                                    <div class="gh-dashboard-list-item-sub">
                                        <span class="gh-dashboard-metric-minivalue">
                                            {{#if sourceData.paidConversions}}
                                                {{format-number sourceData.paidConversions}}
                                            {{else}}
                                                &mdash;
                                            {{/if}}
                                        </span>
                                    </div>
                                {{/if}}
                        </div>
                    {{else}}
                        <div class="gh-dashboard-list-empty">
                            <p>No hay fuentes.</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
    {{!-- {{#if @data.unavailableSource}}
    <div class="modal-footer">
        <p class="gh-dashboard-attribution-footnote"><sup>*</sup>{{if (eq @data.sortColumn "paid") "Suscriptores de pago" "Suscriptores"}} creados durante este período de tiempo que no tienen datos de atribución asociados con ellos.</p>
    </div>
    {{/if}} --}}
</div>