{{!-- template-lint-disable no-invalid-interactive --}}
<div {{on "mouseover" this.onMouseover}} {{on "mouseleave" this.onMouseleave}} data-test-editor-post-status ...attributes>
    {{#if (and this.isSaving @post.isDraft)}}
        Guardando...
    {{else if @post.isSent}}
        {{#if @post.didEmailFail }}
            <span class="newsletter-failed">Fallo al enviar el boletín de correo. </span>
            <button
                type="button"
                class="gh-retry-trigger"
                {{on "click" @publishManagement.openPublishFlow}}
                disabled={{@publishManagement.publishOptions.isLoading}}
            >
                <span>Reintentar ahora</span>
            </button>
        {{else}}
            <button type="button" {{on "click" @openUpdateFlow}} class="gh-editor-post-status-btn">Enviado</button>
            a {{gh-pluralize @post.email.emailCount "suscriptor"}}
        {{/if}}
    {{else if (and @post.emailOnly @post.isScheduled)}}
        Programado
        {{#if this.isHovered}}
            <time datetime="{{@post.publishedAtUTC}}" class="ml1 green-d1" data-test-schedule-countdown>
                será enviado a <GhRecipientFilterCount @filter={{@post.fullRecipientFilter}} @newsletter={{@post.newsletter}} />
                {{this.scheduledTime}}
            </time>
        {{/if}}
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        <span class="{{if (eq @post.email.status "failed") "newsletter-failed" ""}}">
            Publicado
        </span>
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            y enviando a {{gh-pluralize @post.email.emailCount "suscriptor"}}
        {{else if (eq @post.email.status "submitted")}}
            y enviado a {{gh-pluralize @post.email.emailCount "suscriptor"}}
        {{else if (eq @post.email.status "failed")}}
            <span class="newsletter-failed">
                pero ha fallado al enviar el boletín.
            </span>
            <button
                type="button"
                class="gh-retry-trigger"
                {{on "click" @publishManagement.openPublishFlow}}
                disabled={{@publishManagement.publishOptions.isLoading}}
            >
                <span>Reintentar ahora</span>
            </button>
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green-d1" data-test-schedule-countdown>
            Programado
            {{#if this.isHovered}}
                para que se publique
                {{#if (and @post.newsletter (not @post.email))}}
                    y enviado a <GhRecipientFilterCount @filter={{@post.fullRecipientFilter}} @newsletter={{@post.newsletter}} />
                {{/if}}
                {{this.scheduledTime}}
            {{/if}}
        </time>
    {{else if @post.isNew}}
        Nuevo
    {{else}}
        Borrador
        {{unless @hasDirtyAttributes "- Guardado"}}
    {{/if}}
</div>
