<div class="gh-roles-container" {{did-insert (perform this.fetchRolesTask)}}>
    {{#if this.fetchRolesTask.isRunning}}
        {{!-- width and height are needed to avoid layout shift after roles have loaded --}}
        <div style="width: 486px; height: 268px">
            <GhLoadingSpinner />
        </div>
    {{else}}
        <div class="gh-radio {{if (eq @selected.name "Contributor") "active"}}" {{on "click" (fn this.setRole "Contributor")}} data-test-option="Contributor">
            <div class="gh-radio-button"></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Colaborador</div>
                <div class="gh-radio-desc">Puede crear y editar sus propias publicaciones, pero no puede publicar. Un editor o redactor necesita aprobar y publicar el contenido.</div>
            </div>
            <div>
                {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
                <div>
                    {{svg-jar "info"}}
                    <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left">Opciones</td>
                                    <td>Ver y editar su propio perfil</td>
                                </tr>
                                <tr>
                                    <td class="left">Artículos</td>
                                    <td>Crear y editar artículos como borradores</td>
                                </tr>
                            </tbody>
                        </table>
                    </EmberPopover>
                </div>
            </div>
        </div>

        <div class="gh-radio {{if (eq @selected.name "Author") "active"}}" {{on "click" (fn this.setRole "Author")}} data-test-option="Author">
            <div class="gh-radio-button"></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Autor</div>
                <div class="gh-radio-desc">Un usuario de confianza que puede crear, editar y publicar sus propias publicaciones, pero no puede modificar otras.</div>
            </div>
            <div>
                {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
                <div>
                    {{svg-jar "info"}}
                    <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left">Opciones</td>
                                    <td>Ver y editar su propio perfil</td>
                                </tr>
                                <tr>
                                    <td class="left">Usuarios</td>
                                    <td>Revisar suscriptores</td>
                                </tr>
                                <tr>
                                    <td class="left">Artículos</td>
                                    <td>Ver, editar y publicar artículos propios, generar abreviaturas</td>
                                </tr>
                                <tr>
                                    <td class="left">Etiquetas</td>
                                    <td>Añadir etiquetas</td>
                                </tr>
                            </tbody>
                        </table>
                    </EmberPopover>
                </div>
            </div>
        </div>

        <div class="gh-radio {{if (eq @selected.name "Editor") "active"}}" {{on "click" (fn this.setRole "Editor")}} data-test-option="Editor">
            <div class="gh-radio-button"></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Editor / Redactor</div>
                <div class="gh-radio-desc">Puede invitar y administrar a otros autores y colaboradores, así como editar y publicar cualquier artículo en el sitio.</div>
            </div>
            <div>
                {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
                <div>
                    {{svg-jar "info"}}
                    <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left">Opciones</td>
                                    <td>Ver y editar su propio perfil</td>
                                </tr>
                                <tr>
                                    <td class="left">Usuarios</td>
                                    <td>Explorar y revisar a los suscriptores, administrar autores y colaboradores (invitar, revocar, eliminar)</td>
                                </tr>
                                <tr>
                                    <td class="left">Artículos</td>
                                    <td>Crear, publicar, editar y eliminar todos los artículos y generar abreviaturas</td>
                                </tr>
                                <tr>
                                    <td class="left">Etiquetas</td>
                                    <td>Editar, agregar y eliminar etiquetas</td>
                                </tr>
                            </tbody>
                        </table>
                    </EmberPopover>
                </div>
            </div>
        </div>

        <div class="gh-radio {{if (eq @selected.name "Administrator") "active"}}" {{on "click" (fn this.setRole "Administrator")}} data-test-option="Administrator">
            <div class="gh-radio-button"></div>
            <div class="gh-radio-content">
                <div class="gh-radio-label">Administrador</div>
                <div class="gh-radio-desc">Usuario de personal de confianza que puede administrar todos los contenidos y usuarios, así como la configuración y opciones del sitio.</div>
            </div>
            <div>
                {{!-- Inner container collapses height to the SVG so popover can align correctly --}}
                <div>
                    {{svg-jar "info"}}
                    <EmberPopover @tooltipClass="popover" @arrowClass="popover-arrow" @side="left">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="left">Opciones</td>
                                    <td>Acceso completo a todo excepto la configuración de Stripe (Pagos)</td>
                                </tr>
                                <tr>
                                    <td class="left">Usuarios</td>
                                    <td>Administrar a todos los suscriptores y usuarios (invitar, revocar, eliminar)</td>
                                </tr>
                                <tr>
                                    <td class="left">Artículos</td>
                                    <td>Crear, publicar, editar y eliminar todos los artículos y además generar abreviaturas</td>
                                </tr>
                                <tr>
                                    <td class="left">Etiquetas</td>
                                    <td>Editar, añadir y eliminar etiquetas</td>
                                </tr>
                                <tr>
                                    <td class="left">Base de datos</td>
                                    <td>Importar, exportar y eliminar todo contenido</td>
                                </tr>
                                <tr>
                                    <td class="left">Email</td>
                                    <td>Enviar boletines de email y correos electrónicos de prueba</td>
                                </tr>
                            </tbody>
                        </table>
                    </EmberPopover>
                </div>
            </div>
        </div>


        <div class="gh-content-box pa" hidden={{if this.limitErrorMessage false true}}>
            {{html-safe this.limitErrorMessage}} To use selected user role, upgrade to a different plan.
        </div>
    {{/if}}
</div>