{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{@site.accent_color}}">
        {{#has visibility="paid"}}
            <h2>Esta {{#is "page"}}página{{else}}publicación{{/is}} es para suscriptores de pago solamente</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Esta {{#is "page"}}página{{else}}publicación{{/is}} es sólo para suscriptores</h2>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>Esta {{#is "page"}}página{{else}}publicación{{/is}} es sólo para suscriptores del plan {{tiers}} </h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" style="color:{{@site.accent_color}}">Upgrade your account</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" style="color:{{@site.accent_color}}">Crear cuenta</a>
            <p><small>¿Ya tienes cuenta? <a data-portal="signin">Iniciar sesión</a></small></p>
        {{/if}}
    </div>
</aside>
