{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>Esta publicación es solo para suscriptores de pago</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Esta publicación es solo para suscriptores</h2>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>Esta publicación es solo para los suscriptores del tipo {{tiers}} </h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" style="color:{{accentColor}}">Actualiza tu cuenta</a>
        {{else}}
            <a class="gh-btn" data-portal="signup" style="color:{{accentColor}}">Suscríbete ahora</a>
            <p><small>¿Ya tienes una cuenta? <a data-portal="signin">Iniciar sesión</a></small></p>
        {{/if}}
    </div>
</aside>
