{{#let @publishOptions.post as |post|}}
    <div class="gh-publish-title">
        <span class="red">Uh-oh.</span>

        {{#if @publishOptions.willOnlyEmail}}
            Tu artículo se ha creado pero el correo electrónico no se ha podido enviar.
        {{else}}
            Tu artículo se ha publicado pero el correo electrónico no se ha podido enviar.
        {{/if}}
    </div>

    <p class="gh-publish-confirmation">
        {{this.emailErrorMessage}}
        <br><br>
        Verifica la configuración del correo electrónico si el error persiste.
    </p>

    {{#if this.retryErrorMessage}}
        <p class="error gh-box gh-box-error mt3 mb3">
            {{this.retryErrorMessage}}
        </p>
    {{/if}}

    <div class="gh-publish-cta">
        <GhTaskButton
            @task={{this.retryEmailTask}}
            @buttonText="Volver a intentar enviar el correo"
            @runningText="Enviando"
            @successText="Enviado"
            @class="gh-btn gh-btn-large gh-btn-red"
            @showIcon={{false}}
        />
    </div>
{{/let}}

