<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if error}}
            Cancelar la suscripción falló
        {{else}}
            Suscripción cancelada con éxito
        {{/if}}
    </title>
    <link rel="stylesheet" href="{{asset "public/ghost.css" hasMinFile="true"}}" />
</head>
<body>
    <div class="gh-app">
        <div class="gh-viewport">
            <main class="gh-main" role="main">
                <div class="gh-flow">
                    <div class="gh-flow-content-wrap">
                        {{#if @site.icon}}
                            <img class="site-icon" src="{{img_url @site.icon absolute="true"}}" layout="fixed">
                        {{/if}}
                        <section class="gh-flow-content unsubscribe">
                            {{#if error}}
                                <h1>Fallo al darte de baja.</h1>
                                <p>{{error}}</p>
                            {{else if member}}
                                <h1>Suscripción cancelada con éxito.</h1>
                                <p>
                                    <span class="gh-flow-em">{{member.email}}</span> ya no recibirá este boletín.
                                    {{#match member.status "!=" "free"}}
                                        Esto no cancelará tu suscripción de pago {{#if @site.title}} a {{@site.title}}{{/if}}.
                                    {{/match}}
                                </p>
                            {{/if}}
                        </section>
                        <div class="unsubscribe-footer">
                            {{#unless error}}
                                <p>¿No querías hacer esto? Gestiona tu cuenta <a href="{{@site.url}}/#/portal/account">aquí</a>.</p>
                            {{/unless}}
                            {{#if @site.title}}
                                <a href="{{@site.url}}">{{@site.title}}</a>
                            {{else}}
                                <a href="{{@site.url}}">Ir al sitio</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
