<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            Opciones
        </h2>
        <section class="view-actions">
            {{#if this.upgradeStatus.message}}
                <button type="button" class="gh-btn gh-btn-with-notification" {{on "click" (fn this.openAbout null)}} data-tooltip="Actualización disponible!">
                    <span>Acerca de Ghost</span>
                    <span class="gh-btn-notification-dot green"></span>
                </button>
            {{else}}
                <button type="button" class="gh-btn gh-btn-with-notification" {{on "click" (fn this.openAbout null)}}>
                    <span>Acerca de Ghost</span>
                </button>
            {{/if}}
        </section>
    </GhCanvasHeader>

    <section class="view-container">
        <div class="gh-setting-header gh-first-header">Sitio web</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.general" data-test-nav="general">
                <span class="yellow">{{svg-jar "settings"}}</span>
                <div>
                    <h4>Generales</h4>
                    <p>Detalles básicos de publicación y metadatos del sitio</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.design" data-test-nav="design">
                <span class="blue">{{svg-jar "paint-palette"}}</span>
                <div>
                    <h4>Diseño</h4>
                    <p>Personaliza el sitio y administra los temas</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.navigation" data-test-nav="navigation">
                <span class="pink">{{svg-jar "compass"}}</span>
                <div>
                    <h4>Navegación</h4>
                    <p>Edita el menú principal y el secundario</p>
                </div>
            </LinkTo>

            <LinkTo class="gh-setting-group" @route="settings.staff" data-test-nav="staff">
                <span class="green">{{svg-jar "staff"}}</span>
                <div>
                    <h4>Staff / Equipo</h4>
                    <p>Gestiona autores, editores, colaboradores y administradores</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">Suscriptores</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.membership" data-test-nav="members-membership">
                <span class="blue">{{svg-jar "members"}}</span>
                <div>
                    <h4>Suscripciones</h4>
                    <p>Acceso, suscripción y ajustes de precio</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.newsletters" data-test-nav="members-email">
                <span class="yellow">{{svg-jar "email-stroke"}}</span>
                <div>
                    <h4>Boletín de email</h4>
                    <p>Personalizar correos electrónicos y establecer direcciones de correo electrónico</p>
                </div>
            </LinkTo>
            {{#if (feature 'sourceAttribution')}}
            <LinkTo class="gh-setting-group" @route="settings.analytics" data-test-nav="members-analytics">
                <span class="green">{{svg-jar "chart"}}</span>
                <div>
                    <h4>Analíticas</h4>
                    <p>Decide la información que se recoge</p>
                </div>
            </LinkTo>
            {{/if}}
        </div>

        <div class="gh-setting-header">Avanzado</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.integrations" data-test-nav="integrations">
                <span class="yellow">{{svg-jar "module"}}</span>
                <div>
                    <h4>Integraciones</h4>
                    <p>Haz que Ghost trabaje con otras aplicaciones y herramientas</p>
                </div>
            </LinkTo>

            <LinkTo class="gh-setting-group" @route="settings.code-injection" data-test-nav="code-injection">
                <span class="green">{{svg-jar "brackets"}}</span>
                <div>
                    <h4>Inyectar código</h4>
                    <p>Añade código a tu sitio</p>
                </div>
            </LinkTo>

            <LinkTo class="gh-setting-group" @route="settings.labs" data-test-nav="labs">
                <span class="blue">{{svg-jar "labs"}}</span>
                <div>
                    <h4>Laboratorio</h4>
                    <p>Terreno de pruebas para nuevas características</p>
                </div>
            </LinkTo>

            <LinkTo class="gh-setting-group" @route="settings.history" data-test-nav="history">
                <span class="pink">{{svg-jar "calendar-stroke"}}</span>
                <div>
                    <h4>Historial</h4>
                    <p>Ver registro de eventos del sistema</p>
                </div>
            </LinkTo>
        </div>
    </section>
</section>