<div class="bola1"></div>
<div class="bola2"></div>
<div class="bola3"></div>
<img class="fondo_signin" src="assets/img/login.png">

<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            {{#if this.passwordResetEmailSent}}
                <div class="gh-auth-email">
                    <header>
                        <div class="gh-site-icon" style={{site-icon-style}}></div>
                        <h1>Actualiza tu contraseña.</h1>
                        <p>
                            Por tu seguridad, debes crear una nueva contraseña. Se te ha enviado un correo electrónico con instrucciones.
                        </p>
                    </header>
                </div>
            {{else}}
            <form id="login" method="post" class="gh-signin" novalidate="novalidate" {{on "submit" (perform this.validateAndAuthenticateTask)}}>
                <header>
                    <div class="gh-site-icon" style={{site-icon-style}}></div>
                    <h1>{{this.config.blogTitle}}.</h1>
                </header>
                <GhFormGroup @errors={{this.signin.errors}} @hasValidated={{this.hasValidated}} @property="identification">
                    <label for="identification">Correo electrónico</label>
                    <span class="gh-input-icon gh-icon-mail">
                        <input
                            id="identification"
                            type="email"
                            class="gh-input email"
                            placeholder="leonardo@davinci.com"
                            name="identification"
                            autocapitalize="off"
                            autocorrect="off"
                            autocomplete="username"
                            value={{this.signin.identification}}
                            {{on "input" this.handleInput}}
                            {{on "blur" (fn this.validateProperty "identification")}}
                        />
                    </span>
                </GhFormGroup>
                <GhFormGroup @errors={{this.signin.errors}} @hasValidated={{this.hasValidated}} @property="password">
                    <label for="password">Contraseña</label>
                    <span class="gh-input-icon gh-icon-lock forgotten-wrap">
                        <input
                            id="password"
                            type="password"
                            class="gh-input password"
                            placeholder="•••••••••••••••"
                            name="password"
                            autocomplete="current-password"
                            autocorrect="off"
                            value={{this.signin.password}}
                            {{on "input" this.handleInput}}
                        />

                        <GhTaskButton
                            @task={{this.forgotPasswordTask}}
                            @class="forgotten-link gh-btn gh-btn-link gh-btn-icon"
                            @type="button"
                            @successClass=""
                            @failureClass=""
                            as |task|
                        >
                            <span>{{#if task.isRunning}}{{svg-jar "spinner" class="gh-spinner"}}{{else}}¿Te has olvidado?{{/if}}</span>
                        </GhTaskButton>
                    </span>
                </GhFormGroup>

                <GhTaskButton
                    @buttonText="Iniciar sesión &rarr;"
                    @task={{this.validateAndAuthenticateTask}}
                    @showSuccess={{false}}
                    @class="login gh-btn gh-btn-login gh-btn-block gh-btn-icon"
                    @type="submit"
                    style={{accent-color-background}}
                    data-test-button="sign-in" />
            </form>

            <p class="main-error">{{if this.flowErrors this.flowErrors}}&nbsp;</p>
            {{/if}}
        </section>
    </div>
</div>
